<!--제품 상세페이지-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>제품 상세</h1>
    <table width="800">
        <tr>
            <td>
                <h2>소년이 온다</h2>
                <p><strong>저자:</strong> 한강</p>
                <p><strong>출판사:</strong> 창비</p>
                <p><strong>가격:</strong> 14,000원</p>
                <p><strong>설명:</strong> ㅁㅁㅁㅁㅁ ㅁㅁㅁㅁㅁ ㅁㅁㅁ ㅁㅁㅁㅁ</p>
            </td>
        </tr>
    </table>
    <form action="/member/cart" method="post">
        <input type="hidden" name="bookId" value="123">
        <button type="submit">장바구니 추가</button>
    </form>
    <button type="button" onclick="location.href='/payment/order'">바로 구매</button>
</div>
</body>
</html>