<!--검색 및 카테고리별 목록-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>책 목록</h1>
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="책 제목 검색">
        <button type="submit">검색</button>
    </form>
    <table width="800" bgcolor="#d1d1d1">
        <tr>
            <th>책 제목</th>
            <th>저자</th>
            <th>가격</th>
        </tr>
    </table>
    <table width="800">
        <tr>
            <td><a href="/book/123">소년이 온다</a></td>
            <td>한강</td>
            <td>14,000원</td>
        </tr>
        <tr>
            <td><a href="/book/456">82년생 김지영</a></td>
            <td>조남주</td>
            <td>13,000원</td>
        </tr>
    </table>
</div>
</body>
</html>