<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>E2BS - Admin</title>
  <link rel="icon" href="/img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css">
  <style>
    .admin-content-area {
      padding: 30px 40px;
    }

    .admin-sidebar {
      min-height: 100vh;
      border-right: 1px solid #e1e1e1;
      background-color: #f8f9fa;
      padding: 30px 20px;
    }

    .content {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
    }

    body {
      background-color: #f4f6f9;
    }
  </style>
</head>
<body>

<!-- Header -->
<div th:replace="fragments/header::header"></div>

<!-- Main Section -->
<section class="mb-5">
  <div class="container-fluid">
    <div class="row g-0"> <!-- g-0은 그리드 간격 제거 -->
      <!-- Sidebar -->
      <div class="col-lg-2 col-md-3 p-0" th:replace="fragments/sidebar :: admin-sidebar"></div>

      <!-- Main Content -->
      <div class="col-lg-10 col-md-9 p-4">
        <main layout:fragment="content" class="bg-white rounded shadow-sm p-4">
          <!-- 실제 페이지에서 덮어씌워짐 -->
        </main>
      </div>
    </div>
  </div>
</section>


<!-- Footer -->
<div th:replace="fragments/footer::footer"></div>

<script src="/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/vendors/skrollr.min.js"></script>
<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="/vendors/jquery.ajaxchimp.min.js"></script>
<script src="/vendors/mail-script.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
