<!--주문 취소 내역-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>쿠폰 목록</h1>

<div>
    <form action="/member/coupons" method="get">
        <h2>취소 내역</h2>
        <table width="800" bgcolor="#d1d1d1">
            <tr>
                <th>주문일</th>
                <th>주문번호</th>
                <th>상품</th>
                <th>상태</th>
            </tr>
        </table>

        <table width="800">
            <tr>
                <th>2025년 05월 05일</th>
                <th>0000001</th>
                <th>소년이 온다</th>
                <th>취소 완료</th>
            </tr>
        </table>
    </form>
</div>
</body>
</html>