<!--장바구니-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>장바구니</h1>

    <form action="/member/cart" method="post">
        <label>
            <input type="checkbox">
            <span>전체선택</span>
        </label>
    </form>

    <h2>E2BS</h2>

    <table>
        <tbody>
        <tr>
            <td width="25" align="left" valign="top" style="padding-right:5px;">
            <table width="18" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr><td><div style="text-align: center;">1.</div></td></tr> <tr><td><div style="text-align: center;"><input name="chkCart.8972918679" type="checkbox"></div></td></tr> </tbody></table>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <tbody>
        <tr>
            <td>
                <div>
                    <ul>
                        <li>
                            <a href="link">책 제목</a>
                        </li>
                        <li>
                            <span>지은이</span>
                            <span>옮긴이</span>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h4>
                    책 설명
                </h4>
            </td>
        </tr>
        </tbody>
    </table>

    <button type="button" onclick="location.href='/payment/order'">결제하기</button>


</div>
</body>
</html>