<!--쿠폰 목록-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>쿠폰 목록</h1>

    <form action="/member/coupons" method="get">
        <h2>사용 가능한 쿠폰</h2>
        <table width="800" bgcolor="#d1d1d1">
            <tr>
                <th>쿠폰명</th>
                <th>쿠폰 내용</th>
                <th>유효기간</th>
            </tr>
        </table>

        <table width="800">
            <tr>
                <th>생일 쿠폰</th>
                <th>50000원 이상 주문 시 3000원 할인</th>
                <th>2025년 05월 31일까지</th>
            </tr>
        </table>
    </form>
</div>

</body>
</html>