<!--좋아요 목록-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>좋아요 목록</h1>
    <table width="800" bgcolor="#d1d1d1">
        <tr>
            <th>책 제목</th>
            <th>저자</th>
            <th>등록일</th>
        </tr>
    </table>
    <table width="800">
        <tr>
            <td><a href="/book/123">소년이 온다</a></td>
            <td>한강</td>
            <td>2025년 05월 01일</td>
        </tr>
        <tr>
            <td><a href="/book/456">82년생 김지영</a></td>
            <td>조남주</td>
            <td>2025년 04월 15일</td>
        </tr>
    </table>
</div>
</body>
</html>