<!--유저의 주문 개별 상세내역-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div>
        <h4>기본/배송정보</h4>
    </div>
    <table width="756" cellpadding="0" cellspacing="1" bgcolor="#d1d1d1" summary="">
        <caption>기본/배송 정보내역 </caption>
<!--        <colgroup>-->
<!--            <col width="16%">-->
<!--            <col width="34%">-->
<!--            <col width="17%">-->
<!--            <col width="33%">-->
<!--        </colgroup>-->
        <tbody>



        <tr>
            <th scope="row">주문번호</th>
            <td>000001</td>
            <th scope="row">결제일</th>
            <td>2025년 05월 05일</td>
        </tr>
        <tr>
            <th scope="row">주문접수일</th>
            <td>2025년 05월 05일</td>
        </tr>

        <tr>
            <th scope="row">상태</th>
            <td colspan="3">
                <div><span>배송완료</span></a> </div><div class="mb5">CJ대한통운</div>
            </td>
        </tr>

        <tr>
            <th scope="row">수령예상일</th>
            <td colspan="3">
                2025년 05월 05일
            </td>
        </tr>

        </tbody>
    </table>
    <div>
        <table width="756" bgcolor="#d1d1d1">
            <caption>주문 정보</caption>
<!--            <colgroup>-->
<!--                <col width="16%">-->
<!--                <col width="34%">-->
<!--                <col width="17%">-->
<!--                <col width="33%">-->
<!--            </colgroup>-->
            <tbody>
            <tr>
                <th scope="row">
                    <div>주문하신 분</div>
                </th>
                <td>
                    <div>이름</div>
                </td>
                <th scope="row">
                    <div>받으시는 분</div>
                </th>
                <td>
                    <div>이름</div>
                </td>
            </tr>

            <tr>
                <th scope="row">
                    <div>배송주소</div>
                </th>
                <td colspan="3">
                    <div>주소</div>
                </td>
            </tr>

            <tr>
                <th scope="row">
                    <div>전화번호</div>
                </th>
                <td>
                    <div><div>
                    </div></div></td>
                <th scope="row">
                    <div>휴대번호</div>
                </th>
                <td>
                    <div>010-1234-5678<div>
                    </div></div></td>
            </tr>
            <tr>
                <th scope="row">
                    <div>배송메시지</div>
                </th>
                <td colspan="3">
                    <div></div>
                </td>
            </tr>

            <tr>
                <th scope="row">
                    <div>선물주문</div>

                </th>
                <td colspan="3" class="order_table02_tr myacc_td01">
                    <b>포장지</b> : 없음<br><b>메시지</b> : 없음
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

</body>
</html>