<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>회원 등급</h1>
    <table width="800" bgcolor="#d1d1d1">
        <tr>
            <th>등급</th>
            <th>혜택</th>
            <th>조건</th>
        </tr>
    </table>
    <table width="800">
        <tr>
            <td>일반</td>
            <td>1% 적립</td>
            <td></td>
        </tr>
        <tr>
            <td>로얄</td>
            <td>2% 적립</td>
            <td>3개월 구매 금액 20만원 이하</td>
        </tr>
    </table>
</div>
</body>
</html>