<div th:fragment="footer">
    <!--================ Start footer Area  =================-->
    <div class="footer-area">
        <div class="container">
            <div class="row section_gap">
                <div class="offset-lg-1 col-lg-2 col-md-12 col-sm-12">
                    <div class="single-footer-widget tp_widgets mb-4">
                        <h4 class="footer_title">바로가기</h4>
                        <ul class="list">
                            <li><a href="/">메인 페이지</a></li>
                            <li><a href="/login">로그인</a></li>
                            <li><a href="/register">회원가입</a></li>
                            <li><a href="/mypage">마이 페이지</a></li>
                        </ul>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets mb-4">
                        <h4 class="footer_title">프로젝트 팀원들</h4>
                        <ul class="list">
                            <li>
                                <strong>김도윤</strong><br>
                                <span>자신 내용 적기</span><br>
                                <span class="fa fa-envelope"></span>
                                <span>이메일</span><br>
                                <a href="https://github.com/Doyun-coding" target="_blank">GitHub</a>
                            </li>
                            <li>
                                <strong>김용경</strong><br>
                                <span>자신 내용 적기</span><br>
                                <span class="fa fa-envelope"></span>
                                <span>이메일</span><br>
                                <a href="https://github.com/K-Y-k" target="_blank">GitHub</a>
                            </li>
                            <li>
                                <strong>김현규</strong><br>
                                <span>자신 내용 적기</span><br>
                                <span class="fa fa-envelope"></span>
                                <span>이메일</span><br>
                                <a href="https://github.com/KimHyunKyu1" target="_blank">GitHub</a>
                            </li>
                            <li>
                                <strong>박상준</strong><br>
                                <span>자신 내용 적기</span><br>
                                <span class="fa fa-envelope"></span>
                                <span>khk15888@naver.com</span><br>
                                <a href="https://github.com/asdasd7722" target="_blank">GitHub</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets mb-4">
                        <h4 class="footer_title"></h4>
                        <ul class="list">
                            <li>
                                <strong>박수인</strong><br>
                                <span>자신 내용 적기</span><br>
                                <span class="fa fa-envelope"></span>
                                <span>이메일</span><br>
                                <a href="https://github.com/sooooooing" target="_blank">GitHub</a>
                            </li>
                            <li>
                                <strong>이영채</strong><br>
                                <span>도서 시스템 구현</span><br>
                                <span>ElasticSearch 기반 도서 검색 및 정렬 기능 구현</span><br>
                                <span>카테고리 데이터 Redis 캐싱 처리</span><br>
                                <span class="fa fa-envelope"></span>
                                <span>dudco5858@gmail.com</span><br>
                                <a href="https://github.com/YoungChae01" target="_blank">GitHub</a>
                            </li>
                            <li>
                                <strong>최종성</strong><br>
                                <span>주문/결제 시스템 구현 및 TossPayments 연동</span><br>
                                <span>GitHub Actions 기반 CI/CD 파이프라인 구축</span><br>
                                <span>무중단 배포 환경 구성 (서버 이중화)</span><br>
                                <span class="fa fa-envelope"></span>
                                <span>cjs010131@gmail.com</span><br>
                                <a href="https://github.com/JS01C" target="_blank">GitHub</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row d-flex">
                <p class="col-lg-12 footer-text text-center">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved |
                    This template is made with <i class="fa fa-heart" aria-hidden="true"></i>
                    by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                </p>
            </div>
        </div>
    </div>
</div>