<!--회원 페이지 - 특정 반품 내역 조회-->

<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/mypage-layout}">
<body>
<div layout:fragment="content">

    <section>
        <div class="container">
            <h2>반품 조회</h2>
            <!-- 조회 영역 -->
            <div class="card p-4">
                <h4 class="mb-3">반품 정보</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>주문 코드</th>
                        <td>
                            <a th:href="'/mypage/orders/'+${returnDTO.orderCode}" th:text="${returnDTO.orderCode}"></a>
                        </td>
                        <th>반품 구분</th>
                        <td th:switch="${returnDTO.returnCategory}">
                            <span th:case="'CHANGE_MIND'">단순 변심</span>
                            <span th:case="'BREAK'">파손</span>
                        </td>
                    </tr>
                    <tr>
                        <th>반품 일시</th>
                        <td th:text="${#temporals.format(returnDTO.orderReturnCreatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <th>환불 금액</th>
                        <td th:text="${T(java.lang.String).format('%,d',returnDTO.orderReturnAmount)}"></td>
                    </tr>
                    <tr>
                        <th>반품 상세 사유</th>
                        <td colspan="3" th:text="${returnDTO.orderReturnReason}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </section>
</div>
</body>
</html>