<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<body>
<div layout:fragment="content">

    <h2> 도서 검색 </h2>

    <form method="GET" action="/admin/settings/books/aladdin/search" class="row g-3 mb-4">
        <div class="col-md-6">
            <input type="text" name="query" class="form-control" th:value="${param.query}" placeholder="검색어 입력">
        </div>
        <div class="col-md-3">
            <select name="queryType" class="form-select">
                <option value="Title" th:selected="${param.queryType == 'Title'}">제목</option>
                <option value="Publisher" th:selected="${param.queryType == 'Publisher'}">출판사</option>
                <option value="Publisher" th:selected="${param.queryType == 'Author'}">저자</option>
                <option value="Publisher" th:selected="${param.queryType == 'Keyword'}">제목+저자</option>
            </select>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary w-100">검색</button>
        </div>
    </form>

    <div id="search-results" class="book-search-results"></div>

</div>
</body>

</html>