<!--레이아웃-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
        }

        .button-container {
            display: flex;
        }
    </style>
</head>
<body>
<div class="container">
    <form th:action="@{/product/categorys/{categoryId}}" th:method="GET">
        <label>
            <select name="categoryId" onchange="this.form.submit()">
                <option value="">카테고리 선택</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select>
        </label>
        <label>
            <select name="categoryId" onchange="this.form.submit()">
                <option value="">카테고리 선택2</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select>
        </label>
        <label>
            <select name="categoryId" onchange="this.form.submit()">
                <option value="">카테고리 선택3</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select>
        </label>
        <label>
            <select name="categoryId" onchange="this.form.submit()">
                <option value="">카테고리 선택4</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select>
        </label>
        <label>
            <select name="categoryId" onchange="this.form.submit()">
                <option value="">카테고리 선택5</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select>
        </label>
    </form>
    <div class="button-container">
        <div th:if="${session.user != null}" class="button-container">
            <button type="button" th:onclick="|location.href='@{/member/logout}'|">로그아웃</button>
            <button type="button" th:onclick="|location.href='@{/member/my-page}'|">마이페이지</button>
        </div>
        <button type="button" th:onclick="|location.href='@{/member/login}'|" th:if="${session.user == null}">로그인</button>
        <button type="button" th:onclick="|location.href='@{/member/cart}'|">장바구니</button>
    </div>

</div>


</body>
</html>