<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/user-layout}">
<body>
<div layout:fragment="content">

    <!--모달 영역-->
    <div id="addressModal" class="modal" style="display: none; position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%;
     overflow: hidden; background-color: rgba(0,0,0,0.5);">
        <div class="modal-content" style="background-color: #fff; margin: 15% auto; padding: 20px; width: 50%; max-height: 50vh; overflow-y: auto;
        border-radius: 8px; text-align: center; box-shadow: 0 4px 10px rgba(0,0,0,0.25);">
            <span class="close" onclick="closeAddressModal()" style="float: right; font-size: 24px; font-weight: bold; cursor: pointer;">&times;</span>
            <span>등록된 주소</span>
            <div th:each="address, iterStat : ${addresses}" class="address-box" th:attr="data-address-index = ${iterStat.index}"
                 style="border: 1px solid #ccc; border-radius: 10px; padding: 16px; margin-top: 12px; position: relative; cursor: pointer;">
                <strong th:text="${address.addressAlias}"></strong>
                <span th:text="'('+${address.addressCode}+'): ' + ${address.addressInfo} + ${address.addressExtra} +' ' + ${address.addressDetail}"></span>
            </div>
        </div>
    </div>

    <div id="couponModal" class="modal" style="display: none; position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%;
     overflow: hidden; background-color: rgba(0,0,0,0.5);">
        <div class="modal-content" style="background-color: #fff; margin: 15% auto; padding: 20px; width: 50%; max-height: 50vh; overflow-y: auto;
        border-radius: 8px; text-align: center; box-shadow: 0 4px 10px rgba(0,0,0,0.25);">
            <span class="close" onclick="closeCouponModal()" style="float: right; font-size: 24px; font-weight: bold; cursor: pointer;">&times;</span>
            <span>쿠폰</span>
            <div th:each="coupon, iterStat : ${coupons}" class="coupon-box" th:attr="data-coupon-index = ${iterStat.index}"
                 style="border: 1px solid #ccc; border-radius: 10px; padding: 16px; margin-top: 12px; position: relative; cursor: pointer;"
                 th:data-coupon-id="${coupon.memberCouponId}"
                 th:data-policy-name="${coupon.couponPolicyName}"
                 th:data-discount-rate="${coupon.couponPolicyDiscountRate}"
                 th:data-discount-price="${coupon.couponPolicySalePrice}"
                 th:data-minimum-price="${coupon.couponPolicyMinimum}"
                 th:data-maximum-price="${coupon.couponPolicyMaximumAmount}"
                 th:data-target-product-id="${coupon.productId}"
                 th:data-target-category-id="${coupon.categoryId}"
                 th:data-coupon-name="${coupon.couponName}">
                <strong th:text="${coupon.couponName}"></strong><br>
                <span th:text="${coupon.getCouponPolicyName()}"></span> <br>
                <span th:if="${coupon.productId != null}" th:text="'상품 전용 쿠폰: '+${coupon.productTitle}"></span>
                <span th:if="${coupon.categoryId != null}" th:text="'카테고리 전용 쿠폰: '+${coupon.categoryName}"></span>
                <span th:if="${coupon.productId == null and coupon.categoryId == null}">전체 적용 쿠폰</span>
            </div>
        </div>
    </div>

    <!-- 배너 영역 -->
    <section class="blog-banner-area" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>주문/결제</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ 배너 영역 끝 ================= -->


    <!--================ 주문서 영역 =================-->
    <section class="checkout_area section-margin--small">
        <div class="container">
            <!--주문 상품 리스트-->
            <h3>주문/결제</h3>
            <br>
            <div>
                <table cellpadding="10" width="100%"
                       style="border-collapse: separate; border-spacing: 0; border: 1px solid #ccc; border-radius: 12px;overflow: hidden;">

                    <tbody th:each="product, iterStat : ${products}">
                        <tr class="product-card"
                            th:id="'wrap'+${product.productId}+'-product-row'"
                            th:attr="data-wrap-available=${product.productPackageable}, data-product-id=${product.productId}"
                            th:data-category-ids="${productCategories[product.productId]}"
                            th:data-product-price="${product.productSalePrice * quantities[iterStat.index]}">
                            <td style="width: 20%; border-bottom: 1px solid #ddd;">
                                <img th:src="${product.productImagePaths[0].productImagePath}" style="width: 150px; height: auto;">
                            </td>
                            <td style="width: 30%; border-bottom: 1px solid #ddd;">
                                <span class="product-name" th:text="${product.productTitle}">책 제목</span>
                            </td>
                            <td style="width: 20%; border-bottom: 1px solid #ddd;">
                                <span th:text="${T(java.lang.String).format('%,d',product.productSalePrice)}+'원'">10,000</span>
                            </td>
                            <td style="width: 10%; border-bottom: 1px solid #ddd;">
                                <span th:text="${quantities[iterStat.index]}+'개'">1</span>
                            </td>
                            <td style="width: 20%; border-bottom: 1px solid #ddd;">
                                <!-- 포장지 선택 버튼 -->
                                <button style="background-color: #f8f9fa; color: #333; border: 1px solid #ccc; padding: 6px 12px; border-radius: 6px; font-size: 14px; cursor: pointer;"
                                        th:if="${product.productPackageable}" type="button"
                                        th:onclick="'toggleWrapOptions(\'wrapOptions' + ${product.productId} + '\')'">
                                    포장지 선택
                                </button>
                                <span th:if="${!product.productPackageable}">포장 불가 도서</span>
                            </td>
                        </tr>

                        <tr th:id="'wrapOptions'+${product.productId}" style="display: none;" th:if="${product.productPackageable}">
                            <td colspan="5" style="border-bottom: 1px solid #ddd;">
                                <div class="row" style="display: flex; text-align: center;">
                                    <div th:each="wrapper, wrapperIterStat: ${wrappers}" class="col-3" th:if="${wrapperIterStat.index != 0}">
                                        <img th:src="${wrapper.getWrapperImage()}" alt=""><br>
                                        <label>
                                            <input type="radio" th:name="'wrap'+${product.productId}" th:value="${wrapper.wrapperId}">
                                            <span th:text="${wrapper.wrapperName}"></span>
                                            <span th:text="'('+${T(java.lang.String).format('%,d',wrapper.wrapperPrice)}+'원)'"></span>
                                        </label>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <label>
                                        <input type="radio" th:name="'wrap'+${product.productId}" value="1" checked> 포장하지 않음
                                    </label>
                                    <br>
                                    <span> ● 도서의 종류마다 포장이 가능하며, 한 종류의 도서의 일부만 포장은 불가합니다.</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--주문 상품 리스트 끝-->
            <br>
            <br>
            <br>

            <!--주문 상세 정보 입력 영역-->
            <div class="billing_details">
                <div class="row">
                    <!--배송지, 수령인, 희망 수령일, 쿠폰, 포인트 적용 구역-->
                    <div class="col-lg-8">
                        <h3>배송지 정보 입력</h3>
                        <table cellpadding="10" width="100%"
                               style="border-collapse: separate; border-spacing: 0; border: 1px solid #ccc; border-radius: 12px;overflow: hidden;">
                            <tr>
                                <td width="20%">
                                    <span class="warning">* </span>
                                    <strong>수령인</strong>
                                </td>
                                <td>
                                    <input type="text" id="receiverName" class="form-control" style="width: 300px;">
                                </td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <span class="warning">* </span>
                                    <strong>주소</strong>
                                </td>
                                <td style="min-width: 320px;">

                                    <div th:if="${defaultAddress!=null}">
                                        <div style="display: flex; gap: 8px; margin-bottom: 6px;">
                                            <input type="text" id="sample6_postcode" placeholder="우편번호"
                                                   th:value="${defaultAddress.addressCode}" disabled
                                                   class="form-control" style="max-width: 120px;">
                                            <input type="button" onclick="sample6_execDaumPostcode()" value="주소 찾기"
                                                   class="btn btn-outline-primary" style="padding: 0 12px;">
                                            <button onclick="openAddressModal()" class="btn btn-primary btn-sm"
                                                    style="width: 100%; background-color: white; color: black; border: 1px solid #ddd;
                                                    border-radius: 6px; transition: background-color 0.2s ease;"
                                                    onmouseover="this.style.backgroundColor='#f3f3f3'"
                                                    onmouseout="this.style.backgroundColor='#ffffff'">배송지 선택</button>
                                        </div>
                                        <input type="text" id="sample6_address" placeholder="주소"
                                               th:value="${defaultAddress.addressInfo}" disabled class="form-control mb-2">
                                        <input type="text" id="sample6_detailAddress" placeholder="상세주소"
                                               th:value="${defaultAddress.addressDetail}" class="form-control mb-2">
                                        <input type="text" id="sample6_extraAddress" placeholder="참고항목"
                                               th:value="${defaultAddress.addressExtra}" disabled
                                               class="form-control mb-3">
                                    </div>

                                    <div th:if="${defaultAddress==null}">
                                        <div style="display: flex; gap: 8px; margin-bottom: 6px;">
                                            <input type="text" id="sample6_postcode" placeholder="우편번호" disabled
                                                   class="form-control" style="max-width: 120px;">
                                            <input type="button" onclick="sample6_execDaumPostcode()" value="주소 찾기"
                                                   class="btn btn-outline-primary" style="padding: 0 12px;">
                                            <button onclick="openAddressModal()" class="btn btn-primary btn-sm"
                                                    style="width: 100%; background-color: white; color: black; border: 1px solid #ddd;
                                                    border-radius: 6px; transition: background-color 0.2s ease;"
                                                    onmouseover="this.style.backgroundColor='#f3f3f3'"
                                                    onmouseout="this.style.backgroundColor='#ffffff'">배송지 선택</button>
                                        </div>
                                        <input type="text" id="sample6_address" placeholder="주소" disabled
                                               class="form-control mb-2">
                                        <input type="text" id="sample6_detailAddress" placeholder="상세주소"
                                               class="form-control mb-2">
                                        <input type="text" id="sample6_extraAddress" placeholder="참고항목"
                                               disabled class="form-control mb-3">
                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td width="20%">
                                    <span class="warning">* </span>
                                    <strong>휴대전화 번호</strong>
                                </td>
                                <td>
                                    <input id="receiverPhone" type="tel" placeholder="010-1234-5678" maxlength="13" class="form-control" style="width: 300px;">
                                </td>
                            </tr>

                            <tr>
                                <td width="20%">
                                    <strong>전화번호</strong>
                                </td>
                                <td>
                                    <input id="receiverTel" type="tel" placeholder="010-1234-5678" maxlength="13" class="form-control" style="width: 300px;">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>메모</strong>
                                </td>
                                <td>
                                    <textarea id="receiverMemo" class="form-control" style="width: 300px; height: 100px;"></textarea>
                                </td>
                            </tr>

                        </table>
                        <br>
                        <table cellpadding="10" width="100%"
                               style="border-collapse: separate; border-spacing: 0; border: 1px solid #ccc; border-radius: 12px;overflow: hidden;">
                            <tr>
                                <td style="font-weight: bold;">나의 포인트</td>
                                <td>
                                    <span>보유: </span>
                                    <span th:text="${T(java.lang.String).format('%,d',memberPoint)}" style="font-weight: bold;"></span>
                                    <span>원</span>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td>
                                    <div style="display: flex; gap: 8px; align-items: center;">
                                        <input type="number" id="pointInput" class="form-control"
                                               style="width: 300px; text-align: right;" th:max="${memberPoint}">
                                        <button class="btn btn-secondary" onclick="useAllPoint()">전액 사용</button>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="font-weight: bold;">할인 쿠폰</td>
                                <td>
                                    <div style="display: flex; align-items: center;">
                                        <span class="close" id="couponDelBth" onclick="deleteCoupon()"
                                              style="display: none; font-size: 24px; font-weight: bold; cursor: pointer;">&times;</span>
                                        <span id="couponName" data-coupon-id="" style="display: none; margin-left: 8px;"></span>

                                        <!-- 버튼 오른쪽 정렬 -->
                                        <button class="btn btn-secondary" onclick="openCouponModal()" style="margin-left: auto; margin-right: 115px;">
                                            쿠폰 사용하기
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <br>

                        <table cellpadding="10" width="100%"
                               style="border-collapse: separate; border-spacing: 0; border: 1px solid #ccc; border-radius: 12px;overflow: hidden;">
                            <tr>
                                <th colspan="2" style="border-bottom: 1px solid #ddd;">
                                    <span><strong>언제 받으시겠어요?</strong></span>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" id="order_receive_date0" name="order_receive_date"
                                           checked="checked" value="">
                                    <label for="order_receive_date0">내일 수령</label>

                                    <br>
                                    <input type="radio" id="order_receive_date1" name="order_receive_date" value="">
                                    <label for="order_receive_date1">다른 날에 받을게요</label>
                                    <div id="date_buttons" style="display: none; gap: 8px;">
                                        <span>주문 시점 7일 이내 선택 가능(주말 제외)</span><br>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <br>
                        <table cellpadding="10" width="100%"
                               style="border-collapse: separate; border-spacing: 0; border: 1px solid #ccc; border-radius: 12px;overflow: hidden;">
                            <tr>
                                <th colspan="2" style="border-bottom: 1px solid #ddd;">
                                    <span><strong>결제 수단</strong></span>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <input type="radio" id="tossPay_payment_method" name="payment_method" value="tossPay">
                                        <label for="tossPay_payment_method">토스 결제</label>
                                    </div>
                                    <span>* 현재는 토스 간편 결제, 포인트로 전액 결제만 지원합니다.</span>
                                </td>
                            </tr>
                        </table>



                    </div>
                    <br>

                    <!--결제 정보 선택 영역-->
                    <div class="col-lg-4">
                        <div class="order_box card">
                            <h2>주문 내역</h2>
                            <ul class="list list-unstyled">
                                <li class="d-flex justify-content-between align-items-center py-2">
                                    <h4 class="mb-0 text-start">상품 명</h4>
                                    <h4 class="mb-0 text-end">금액</h4>
                                </li>

                                <li class="d-flex justify-content-between align-items-center py-2"
                                    th:each="product, iterStat: ${products}"
                                    th:attr="data-product-id=${product.productId}"
                                    th:id="'wrap'+${product.productId}+'-item'">
                                    <span class="text-start" th:text="${product.productTitle}"></span>
                                    <span class="text-center" th:text="'X '+${quantities[iterStat.index]}"></span>
                                    <span class="text-end last" th:text="${T(java.lang.String).format('%,d',product.productSalePrice * quantities[iterStat.index])}"></span>
                                </li>
                            </ul>
                            <hr>
                            <ul class="list list_2">
                                <li class="d-flex justify-content-between align-items-center py-2">
                                    <span class="text-start">상품 금액</span>
                                    <span class="text-end">24,000</span>
                                </li>
                                <li class="d-flex justify-content-between align-items-center py-2">
                                    <span class="text-start">배송비</span>
                                    <span class="text-end">5,000</span>
                                </li>
                                <li class="d-flex justify-content-between align-items-center py-2">
                                    <span class="text-start">포인트 사용</span>
                                    <span class="text-end">500</span>
                                </li>
                                <li class="d-flex justify-content-between align-items-center py-2">
                                    <span class="text-start">쿠폰 할인</span>
                                    <span class="text-end">0</span>
                                </li>
                                <li class="d-flex justify-content-between align-items-center py-2">
                                    <span class="text-start">결제금액</span>
                                    <span class="text-end" id="payment_amount">27,480</span>
                                </li>
                            </ul>

                            <div class="creat_account">
                                <input type="checkbox" id="f-option4" name="selector">
                                <label for="f-option4">다음의 이용약관을 읽었으며 동의합니다.</label>
                                <a href="#">개인정보 수집 및 이용에 동의*</a>
                            </div>

                            <div class="text-center">
                                <span>테스트 결제로 실제 돈이 나가지 않습니다.</span>
                                <button class="btn btn-primary" id="payment-button"
                                        style="margin-top: 30px; width: 100%;">결제하기
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--모달 관련 JS-->
        <script th:inline="javascript">
            function toggleWrapOptions(id) {
                const elem = document.getElementById(id);
                if (elem.style.display === 'none' || elem.style.display === '') {
                    elem.style.display = 'table-row';
                } else {
                    elem.style.display = 'none';
                }
            }
            function openAddressModal() {
                document.getElementById("addressModal").style.display = "block";
            }

            function closeAddressModal() {
                document.getElementById("addressModal").style.display = "none";
            }

            function openCouponModal() {
                document.getElementById("couponModal").style.display = "block";
            }

            function closeCouponModal() {
                document.getElementById("couponModal").style.display = "none";
            }
            // 바깥 클릭 시 닫기
            window.onclick = function(event) {
                const modal = document.getElementById("addressModal");
                if (event.target === modal) {
                    modal.style.display = "none";
                }
                const modal2 = document.getElementById("couponModal");
                if (event.target === modal2) {
                    modal2.style.display = "none";
                }
            }

            // 각 주소 클릭 시 주소 정보를 적용
            const addressesDiv = document.querySelectorAll(".address-box");

            addressesDiv.forEach(div =>{
                div.addEventListener("click", function (){
                    let addressIndex = div.dataset.addressIndex;
                    let addressList = /*[[${addresses}]]*/ [];
                    let address = addressList[addressIndex];
                    document.getElementById("sample6_postcode").value = address.addressCode;
                    document.getElementById("sample6_address").value = address.addressInfo;
                    document.getElementById("sample6_detailAddress").value = address.addressDetail;
                    document.getElementById("sample6_extraAddress").value = address.addressExtra;
                    closeAddressModal();
                });
            });
        </script>

        <!--결제 요청 JS-->
        <script src="https://js.tosspayments.com/v1/payment"></script>
        <script>
            async function parseCurrency(value) {
                return parseInt(value.replace(/[^0-9]/g, "")) || 0;
            }

            // ------ 클라이언트 키로 객체 초기화 ------
            var clientKey = "[[${tossClientKey}]]";
            var tossPayments = TossPayments(clientKey);

            // ------ 결제 진행 이벤트 ------
            document.getElementById("payment-button").addEventListener("click", async function () {

                const payAmount = parseInt(parseCurrency(document.getElementById("payment_amount").innerText));
                const selected = document.querySelector('input[name="payment_method"]:checked');
                const checkbox = document.getElementById('f-option4'); // 이용약관 체크 확인
                if (!selected && !(payAmount === 0)) {
                    alert("결제 수단을 선택해주세요.");
                    return;
                }
                if (!checkbox.checked) {
                    alert("이용 약관에 동의해야 합니다.")
                    return;
                }

                // 필수 입력 필드 중 문제가 있을 경우 결제 종료
                if (!validateField()) {
                    return;
                }

                // 결제 방식
                let method = "point";
                if(selected !== null){
                    method = selected.value;
                }


                // 결제 금액이 0원이면 외부 결제로 결제 방지
                if (method === "tossPay" && !(payAmount === 0)) {
                    // 주문서 저장
                    const response = await saveOrder(method);

                    if (await response === null) {
                        // 재고 부족, 포인트 부족, 쿠폰 사용 불가, 없는 외래키 접근 등
                        alert("주문 중 문제가 생겨 결제할 수 없습니다.")
                        return;
                    }

                    tossPayWidget(response.orderId, response.amount);
                } else {
                    // 포인트 결제 로직
                    if (payAmount !== 0) {
                        alert("사용 포인트가 부족합니다.");
                    } else {
                        // 결제 진행
                        const response = await saveOrder(method);
                        // 응답의 data가 null이 아니면 정상 저장 된거이므로 성공 url이동
                        // null이면 주문 처리 실패니까 실패 url로 리다이렉트
                        // 프론트에서는 포인트가 충분했으나 DB에서는 부족한 경우
                        if (response !== null) {
                            window.location.href = "/order/confirm";
                        } else {
                            window.location.href = "/order/fail"
                        }
                    }

                }
            });

            // 주문서의 필수 필드 확인
            function validateField() {
                if (document.getElementById("receiverName").value === "") {
                    alert("수령인 이름을 작성해주세요.");
                    return false;
                }
                if (document.getElementById("sample6_postcode").value === "") {
                    alert("배송지를 입력해주세요.");
                    return false;
                }
                if (document.getElementById("receiverPhone").value === "") {
                    alert("전화번호를 입력해주세요.");
                    return false;
                }
                if (!isValidPhone(document.getElementById("receiverPhone").value)) {
                    alert("전화번호 형식이 올바르지 않습니다.");
                    return false;
                }
                if (document.getElementById('receiverTel').value !== "") {
                    if (!isValidPhone(document.getElementById('receiverTel').value)) {
                        alert("전화번호 형식이 올바르지 않습니다.");
                        return false;
                    }
                }

                return true;

            }

            // 전화번호 검증
            function isValidPhone(phone) {
                const regex = /^01[0|1|6-9]-\d{3,4}-\d{4}$/;
                return regex.test(phone);
            }

            // 백에 주문서를 저장하고 주문 코드, 결제 금액, 결제 이름을 반환하는 메서드
            async function saveOrder(method) {
                const response = await fetch("/order/" + method, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(createOrderData())
                    }
                )
                if (response.ok) { // 200 ~ 299
                    const data = await response.json(); // DTO 파싱
                    return data;
                } else {
                    // 응답이 400번대, 500번대의 경우 주문서 저장 실패(재고 부족 등 예외)
                    return null;
                }
            }

            function createOrderData() {
                // 선택한 쿠폰 id 가져오기
                let couponId = document.getElementById("couponName").dataset.couponId;

                if (couponId === "") {
                    couponId = null;
                }

                // 포인트 입력 없을 시 0원 처리
                let pointAmountData = document.getElementById("pointInput").value;
                if (pointAmountData === "") {
                    pointAmountData = "0";
                }

                // 순수 금액 계산, 상품 금액 - 쿠폰 적용 금액 - 배송비 (포인트, 포장지 금액 제외)
                let pureAmount = 0;

                const productAmountSpan = document.querySelector(".list_2 li:nth-child(1) span:nth-child(2)");
                pureAmount = parseCurrency(productAmountSpan.textContent);
                const deliveryFeeSpan = document.querySelector(".list_2 li:nth-child(2) span:nth-child(2)");
                pureAmount -= parseCurrency(deliveryFeeSpan.textContent);
                const couponSpan = document.querySelector(".list_2 li:nth-child(4) span:nth-child(2)");
                pureAmount -= parseCurrency(couponSpan.textContent);

                const order = {
                    memberCouponId: couponId,
                    deliveryFeeId: [[${deliveryFee.deliveryFeeId}]],
                    customerId: [[${member.customer.customerId}]],
                    orderReceiverName: document.getElementById("receiverName").value,
                    orderReceiverPhone: document.getElementById("receiverPhone").value,
                    orderReceiverTel: document.getElementById("receiverTel").value,
                    orderAddressCode: document.getElementById("sample6_postcode").value,
                    orderAddressInfo: document.getElementById("sample6_address").value,
                    orderAddressDetail: document.getElementById("sample6_detailAddress").value,
                    orderAddressExtra: document.getElementById("sample6_extraAddress").value,
                    orderPointAmount: parseInt(pointAmountData),
                    orderMemo: document.getElementById("receiverMemo").value,
                    orderPaymentStatus: false,
                    orderPureAmount: pureAmount,
                    orderReceivedDate: document.querySelector('input[name="order_receive_date"]:checked').value,
                    orderShipmentDate: null,
                    orderCreatedAt: null,
                    orderPaymentAmount: parseCurrency(document.getElementById("payment_amount").textContent)
                };

                const productList = document.querySelectorAll(".list li:not(:first-child)");
                const orderDetails = [];

                productList.forEach(row => {
                    // 상품 id 속성이 없으면 포장지 정보이므로 스킵
                    if (!row.hasAttribute("data-product-id")) {
                        return;
                    }
                    const quantity = parseCurrency(row.querySelector('.text-center').textContent.trim());
                    let wrapperIdData = row.getAttribute("data-wrapper-id") || "1";
                    const detail = {
                        productId: parseInt(row.getAttribute("data-product-id")),
                        orderCode: "temp-order-code",
                        wrapperId: parseInt(wrapperIdData),
                        orderQuantity: quantity,
                        orderDetailPerPrice: parseCurrency(row.querySelector('.last').textContent.trim()) / quantity
                    };
                    orderDetails.push(detail);
                });


                const requestOrderWrapperDTO = {
                    order: order,
                    orderDetails: orderDetails
                };

                return requestOrderWrapperDTO;
            }

            function tossPayWidget(orderId, payAmount) {
                tossPayments
                    .requestPayment("토스페이", {
                        amount: payAmount,
                        orderId: orderId,
                        orderName: gerOrderName(),
                        customerName: "[[${member.customer.customerName}]]",
                        successUrl: "[[${tossSuccessUrl}]]",
                        failUrl: "[[${tossFailUrl}]]",
                        // 결제 승인 중 실패 할 경우 자동 리다이렉트 경로, 우리는 백에서 승인 처리를 하므로 여기서 작동할 일이 없음
                    })
                    .catch(function (error) {
                        if (error.code === "USER_CANCEL") {
                            // alert("결제가 취소되었습니다.");
                            deleteOrder(orderId);
                        } else if (error.code === "INVALID_CARD_COMPANY") {
                            alert("유효하지 않은 카드입니다.");
                        } else if (error.code === "OUT_OF_BALANCE") { // 테스트에서는 작동하지 않음
                            alert("잔액이 부족합니다.");
                        } else {
                            alert("에러 발생: " + error.message);
                            console.error(error);
                        }
                    });
            }

            // 주문 이름 제작
            function gerOrderName() {
                // 모든 .product-name span 가져오기
                const productNameSpans = document.querySelectorAll(".product-name");

                // 이름 텍스트만 배열로 뽑기
                const names = Array.from(productNameSpans).map(span => span.textContent.trim());

                // 조건에 따라 문자열 생성
                if (names.length === 1) {
                    return names[0]; // ex. "해리포터"
                } else if (names.length > 1) {
                    return `${names[0]} 외 ${names.length - 1}건`; // ex. "해리포터 외 1건"
                } else {
                    return ""; // 상품이 없는 경우
                }
            }

            // 결제창 호출 후 꺼서 주문 취소 시 백에 주문서 삭제 요청
            function deleteOrder(orderId) {
                fetch("/order/cancel?orderId=" + orderId, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: {}
                });
            }
        </script>


        <!--희망 수령일 계산 JS-->
        <script>
            const today = new Date();

            // 내일 날짜
            const tomorrow = new Date(today);
            tomorrow.setDate(today.getDate() + 1);

            // 주말 체크 → 월요일로 밀기
            if (tomorrow.getDay() === 0) { // 일요일
                tomorrow.setDate(tomorrow.getDate() + 1);
            } else if (tomorrow.getDay() === 6) { // 토요일
                tomorrow.setDate(tomorrow.getDate() + 2);
            }

            // 요일 배열
            const weekdays = ['일', '월', '화', '수', '목', '금', '토'];

            const tomorrowStr = `${tomorrow.getMonth() + 1}월 ${tomorrow.getDate()}일(${weekdays[tomorrow.getDay()]})`;

            // 라벨에 적용
            document.querySelector('label[for="order_receive_date0"]').innerText = `내일 수령 (${tomorrowStr}) - 주말 제외`;

            // radio에 value 적용
            const year = tomorrow.getFullYear();
            const month = String(tomorrow.getMonth() + 1).padStart(2, '0');
            const day = String(tomorrow.getDate()).padStart(2, '0');

            document.getElementById('order_receive_date0').value = `${year}-${month}-${day}`;

            // 다른 날에 수령 희망 경우 버튼 생성
            const buttonContainer = document.getElementById('date_buttons');

            const baseDate = new Date(tomorrow); // 최소 기준일
            const maxDate = new Date(today);
            maxDate.setDate(today.getDate() + 7);

            let current = new Date(baseDate);
            current.setDate(current.getDate() + 1); // 기준일 다음날부터

            while (current <= maxDate) {
                const day = current.getDay();
                if (day !== 0 && day !== 6) { // 주말 제외
                    const btn = document.createElement('button');
                    btn.type = 'button';
                    btn.innerText = `${current.getMonth() + 1}월 ${current.getDate()}일(${weekdays[day]})`;
                    btn.classList.add("btn", "btn-secondary");

                    const selectedDate = new Date(current);

                    btn.addEventListener('click', function () {
                        document.querySelector('label[for="order_receive_date1"]').innerText = btn.innerText + ' 수령';

                        // radio에 value 적용
                        const year2 = selectedDate.getFullYear();
                        const month2 = String(selectedDate.getMonth() + 1).padStart(2, '0');
                        const day2 = String(selectedDate.getDate()).padStart(2, '0');

                        document.getElementById('order_receive_date1').value = `${year2}-${month2}-${day2}`;
                    });
                    buttonContainer.appendChild(btn);
                }
                current.setDate(current.getDate() + 1);
            }


            // 라디오 이벤트
            const dateButtonsDiv = document.getElementById('date_buttons');
            const radio0 = document.getElementById('order_receive_date0');
            const radio1 = document.getElementById('order_receive_date1');

            function updateDateButtonsVisibility() {
                if (radio1.checked) {
                    dateButtonsDiv.style.display = 'block';

                } else {
                    dateButtonsDiv.style.display = 'none';
                    document.querySelector('label[for="order_receive_date1"]').innerText = '다른 날에 받을게요';
                }
            }

            radio0.addEventListener('change', updateDateButtonsVisibility);
            radio1.addEventListener('change', updateDateButtonsVisibility);

            // 초기 상태 동기화
            updateDateButtonsVisibility();
        </script>

        <!--주소 API JS-->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
            function sample6_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function (data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            // addr = data.jibunAddress;
                            alert('도로명 주소만 선택할 수 있습니다.');
                        }

                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if (data.userSelectedType === 'R') {
                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                extraAddr += data.bname;
                            }
                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if (data.buildingName !== '' && data.apartment === 'Y') {
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if (extraAddr !== '') {
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            // 조합된 참고항목을 해당 필드에 넣는다.
                            document.getElementById("sample6_extraAddress").value = extraAddr;

                        } else {
                            // document.getElementById("sample6_extraAddress").value = '';
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        if (data.userSelectedType === 'R') {
                            document.getElementById('sample6_postcode').value = data.zonecode;
                            document.getElementById("sample6_address").value = addr;
                        }
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("sample6_detailAddress").focus();
                    }
                }).open();
            }
        </script>

        <!--결제 정보 창 관련 JS-->
        <script>
            // 포장지 관련 JS
            const wrapPrices = {};

            function updateWrapDisplay(productId, wrapLabel, wrapUnitPrice, count, radio) {
                // 결제 정보 창에서의 해당하는 상품의 li
                const listItem = document.querySelector(`#${productId}-item`);
                // 포장지 정보 li
                let wrapDetail = document.querySelector(`#${productId}-wrap`);

                // 포장지 가격 = 포장지 단일 가격 * 상품 수량
                const totalWrapPrice = wrapUnitPrice * count;

                // 포장하지 않는 경우 or 가격이 0원인 경우
                if (wrapLabel.includes("포장하지 않음") || wrapUnitPrice === 0) {
                    // 포장지 정보 li를 제거, 결제 정보 창의 상품 li에 속성으로 저장된 포장지 정보도 제거
                    if (wrapDetail) wrapDetail.remove();
                    listItem.removeAttribute("data-wrapper-id");
                    delete wrapPrices[productId];
                } else {
                    // 포장지 li가 존재하지 않는다면 새로 li 엘레멘트를 생성한다.
                    if (!wrapDetail) {
                        wrapDetail = document.createElement("li");
                        wrapDetail.id = `${productId}-wrap`;
                        wrapDetail.classList.add(
                            "wrap-detail",
                            "d-flex",
                            "justify-content-between",
                            "align-items-center",
                            "py-2"
                        );
                        // li에 속성을 부여하고 상품 li에도 포장지 정보를 부여, 상품 li 뒤에 포장지 li를 추가
                        wrapDetail.setAttribute("data-wrapper-id", radio.value);
                        listItem.insertAdjacentElement("afterend", wrapDetail);
                        listItem.setAttribute("data-wrapper-id", radio.value);
                    }

                    // 해당 포장지 정보 li의 내부 html
                    wrapDetail.innerHTML = `<span class="text-start">└${wrapLabel}</span><span class="text-center">x ${count}</span><span class="text-end last">${formatCurrency(totalWrapPrice)}</span>`;
                    wrapPrices[productId] = {price: totalWrapPrice};
                }

                calculateTotal();
                // 포장지 가격은 상품 가격에 포함되므로 라디오 버튼 활성화를 다시 검사한다.
                updateCouponActivation();
            }

            // 포장지 선택을 위한 라디오 입력에 이벤트 등록
            document.querySelectorAll("[name^='wrap']").forEach(radio => {
                radio.addEventListener("change", () => {
                    const name = radio.name; // wrap1
                    const productId = name;
                    // 각 상품의 주문 수량 확인
                    const wrapRow = document.querySelector(`#${productId}-product-row`);
                    const count = parseInt(wrapRow.querySelectorAll("td")[3].textContent.trim());

                    // 각 포장지의 가격 확인, 가격이 적힌 span이 없다면 포장 안함으로 0원
                    const label = radio.closest("label");
                    const wrapLabel = label.textContent.trim().split("\n")[0].trim();
                    const wrapUnitPrice = parseCurrency(label.querySelectorAll("span")[1]?.textContent || "0");

                    // 결제 정보 창에 포장지 정보 업데이트
                    updateWrapDisplay(productId, wrapLabel, wrapUnitPrice, count, radio);
                });
            });

            // 결제 가격 최신화를 위한 JS
            // 결제 상품 리스트의 가격 리스트
            const productList = document.querySelectorAll(".list li:not(:first-child) .last");
            // 결제 상품 들의 가격 총 합 칸
            const productAmountSpan = document.querySelector(".list_2 li:nth-child(1) span:nth-child(2)");
            // 배송비 칸
            const shippingFeeSpan = document.querySelector(".list_2 li:nth-child(2) span:nth-child(2)");
            // 포인트 입력 창
            const pointInput = document.getElementById("pointInput");
            // 포인트 적용 금액 칸
            const pointSpan = document.querySelector(".list_2 li:nth-child(3) span:nth-child(2)");
            // 쿠폰 적용 금액 칸
            const couponSpan = document.querySelector(".list_2 li:nth-child(4) span:nth-child(2)");
            // 결제 총 금액 칸
            const totalAmountSpan = document.querySelector(".list_2 li:nth-child(5) span:nth-child(2)");

            const FREE_SHIPPING_THRESHOLD = [[${deliveryFee.deliveryFeeFreeAmount}]];
            const SHIPPING_COST = [[${deliveryFee.deliveryFeeAmount}]];
            const MAX_POINT = parseInt(pointInput.max);

            // 금액에서 , 제거하기
            function parseCurrency(value) {
                return parseInt(value.replace(/[^0-9]/g, "")) || 0;
            }

            // 금액에 , 붙이기
            function formatCurrency(value) {
                return value.toLocaleString("ko-KR");
            }

            // 상품 합계 금액 계산
            function getProductTotal(wrapList) {
                let total = 0;
                productList.forEach(el => {
                    total += parseCurrency(el.textContent);
                });
                wrapList.forEach(el => {
                    total += parseCurrency(el.textContent);
                });
                return total;
            }

            function calculateTotal() {

                // 주문 선택된 포장지 리스트
                const wrapList = document.querySelectorAll('.list li[id*="-wrap"] .last');
                const productTotal = getProductTotal(wrapList);

                // 상품 금액 적용
                productAmountSpan.textContent = formatCurrency(productTotal);

                // 배송비 적용 여부 계산
                let shippingCost = productTotal >= FREE_SHIPPING_THRESHOLD ? 0 : SHIPPING_COST;
                shippingFeeSpan.textContent = formatCurrency(shippingCost);

                // 쿠폰 값 적용
                let couponDiscount = parseCurrency(couponSpan.textContent);

                couponSpan.textContent = "-" + formatCurrency(couponDiscount);

                // 포인트 계산
                let pointUsed = Math.min(parseCurrency(pointInput.value), MAX_POINT, productTotal + shippingCost - couponDiscount);
                pointSpan.textContent = "-" + formatCurrency(pointUsed);

                // 결제 금액 상품 금액 + 배송비 - 쿠폰 할인 (포인트 추후 제외)
                let finalAmount = productTotal + shippingCost - couponDiscount;

                // 할인 내역이 전체 금액이 넘을 경우 전체 금액은 0원 설정
                if (finalAmount < 0) {
                    finalAmount = 0;
                }

                // 사용하려한 포인트가 결제 금액보다 많은 경우
                // 사용 가능한 포인트는 최대 결제 금액까지만 입력 가능하게 제한
                if (pointInput.value > finalAmount) {
                    pointInput.value = finalAmount;
                    finalAmount = 0;
                } else {
                    finalAmount = finalAmount - pointUsed;
                }

                totalAmountSpan.textContent = formatCurrency(finalAmount);
            }

            // 최소 주문액에 맞춰 쿠폰 활성화 적용
            function updateCouponActivation() {
                const wrapList = document.querySelectorAll('.list li[id*="-wrap"] .last');
                const productPrice = getProductTotal(wrapList);// 현재 상품 금액
                const couponBoxes = document.querySelectorAll('.coupon-box');

                couponBoxes.forEach(box => {
                    const minPrice = parseInt(box.dataset.minimumPrice);

                    if (productPrice < minPrice) {
                        // 조건 미달: 비활성화
                        box.classList.add('disabled');
                        box.style.pointerEvents = 'none';
                        box.style.opacity = '0.5';

                        // 포장지 선택을 빼서 쿠폰이 비활성화 되기 전 이미 적용된 쿠폰이면 제거한다.
                        const couponNameSpan = document.getElementById("couponName");
                        if(box.dataset.couponId === couponNameSpan.dataset.couponId){
                            deleteCoupon();
                        }

                    } else {
                        // 조건 만족: 활성화
                        box.classList.remove('disabled');
                        box.style.pointerEvents = 'auto';
                        box.style.opacity = '1';

                        box.addEventListener("click", function (){
                            const wrapList = document.querySelectorAll('.list li[id*="-wrap"] .last');
                            const productPrice = getProductTotal(wrapList);// 가격 변동 시점 상품 금액

                            const targetProductId = box.dataset.targetProductId;
                            const targetCategoryId = box.dataset.targetCategoryId;

                            const discountRate = box.dataset.discountRate;
                            let discount = 0;

                            if(!discountRate){ // 정액 쿠폰은 적용 방식이 모두 같음
                                discount = box.dataset.discountPrice;
                            }else{
                                let targetTotalPrice = 0; // 할인이 적용될 대상 금액

                                if(!targetProductId && !targetCategoryId){ // 전체 적용 쿠폰
                                    targetTotalPrice = productPrice;

                                }else if(targetProductId){ // 특정 상품 적용 쿠폰
                                    document.querySelectorAll('.product-card').forEach(productdiv => {
                                        if(productdiv.dataset.productId === targetProductId){
                                            targetTotalPrice += productdiv.dataset.productPrice;
                                        }
                                    });
                                }else if(targetCategoryId) { // 특정 카테고리 적용쿠폰
                                    document.querySelectorAll('.product-card').forEach(productdiv => {
                                        let categoryIds = JSON.parse(productdiv.dataset.categoryIds);

                                        if(categoryIds.includes(targetCategoryId)){
                                            targetTotalPrice += productdiv.dataset.productPrice;
                                        }
                                    });
                                }
                                const maxDiscount = box.dataset.maximumPrice;
                                const calc = Math.floor(targetTotalPrice * discountRate / 100);
                                discount = Math.min(calc, maxDiscount);
                            }

                            const couponNameSpan = document.getElementById("couponName");
                            couponNameSpan.style.display = "block";
                            couponNameSpan.innerText = box.dataset.couponName;
                            couponNameSpan.dataset.couponId = box.dataset.couponId;

                            const couponDelBtn = document.getElementById("couponDelBth");
                            couponDelBtn.style.display = "block";

                            couponSpan.textContent = discount; // calculateTotal에서 - 처리함
                            closeCouponModal();
                            calculateTotal();
                        });
                    }
                });
            }

            function deleteCoupon(){
                const couponNameSpan = document.getElementById("couponName");
                couponNameSpan.style.display = "none";
                couponNameSpan.innerText = "";
                couponNameSpan.dataset.couponId = "";

                const couponDelBtn = document.getElementById("couponDelBth");
                couponDelBtn.style.display = "none";
                couponSpan.textContent = "0";
                calculateTotal();
            }

            function useAllPoint() {
                const pointInput = document.getElementById("pointInput");
                pointInput.value = parseInt(pointInput.max);
                calculateTotal();
            }

            const phoneInput = document.getElementById('receiverPhone');
            const telInput = document.getElementById('receiverTel');
            // 전화번호에 대한 입력 제한 이벤트 등록
            phoneInput.addEventListener('input', function (e) {
                let value = e.target.value.replace(/[^0-9]/g, '');
                if (value.length <= 3) {
                    e.target.value = value;
                } else if (value.length <= 7) {
                    e.target.value = value.slice(0, 3) + '-' + value.slice(3);
                } else {
                    e.target.value = value.slice(0, 3) + '-' + value.slice(3, 7) + '-' + value.slice(7, 11);
                }
            });

            telInput.addEventListener('input', function (e) {
                let value = e.target.value.replace(/[^0-9]/g, '');
                if (value.length <= 3) {
                    e.target.value = value;
                } else if (value.length <= 7) {
                    e.target.value = value.slice(0, 3) + '-' + value.slice(3);
                } else {
                    e.target.value = value.slice(0, 3) + '-' + value.slice(3, 7) + '-' + value.slice(7, 11);
                }
            });

            // 포인트 입력 창에 대한 제한 이벤트 등록
            pointInput.addEventListener("input", () => {
                const max = parseInt(pointInput.max);
                const value = pointInput.value;

                if (value > max) {
                    pointInput.value = max;
                }
                if (value < 0) {
                    pointInput.value = 0;
                }
                // 포인트를 입력한 후에는 가격 계산 재 실행
                calculateTotal();
            });


            // 초기 실행
            calculateTotal();
            updateCouponActivation();
        </script>
    </section>
    <!--================End Checkout Area =================-->
</div>

</body>
</html>