<!--결제 완료-->

<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/user-layout}">
<body>
<div layout:fragment="content">
    <!--================Order Details Area =================-->
    <section class="order_details section-margin--small">
        <div class="container">
            <p class="text-center billing-alert">주문이 완료되었습니다.</p>
        </div>
    </section>
    <!--================End Order Details Area =================-->
</div>
</body>
</html>