<!--관리자 페이지 - 주문 내역-->

<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/admin-layout}">
<body>
<div layout:fragment="content">
    <section>
        <div class="container">
            <h2>배송비 정책</h2>

            <div class="row mb-5">
                <div class="col-12">
                    <br>
                    <form class="row" action="/admin/settings/deliveryFee" method="post">
                        <div class="col-md-6 form-group">
                            <input type="number" class="form-control" name="deliveryFeeAmount" placeholder="배송비 금액" min="0"
                                   required>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="number" class="form-control" name="deliveryFeeFreeAmount" placeholder="무료 배송 기준 금액"
                                   min="0" required>
                        </div>
                        <div class="col-md-12 form-group mt-3">
                            <button type="submit" class="button button-register w-100">정책 등록</button>
                        </div>
                        <br>
                        <h6 style="color: gray;">가장 최근에 등록된 정책이 주문에 적용됩니다.</h6>
                    </form>
                    <hr>
                    <br>

                    <table class="table table-bordered" style="table-layout: fixed; width: 100%;">
                        <thead>
                        <tr>
                            <th style="width: 35%;">배송비 금액</th>
                            <th style="width: 35%;">무료 배송 기준 금액</th>
                            <th style="width: 30%;">정책 생성일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="deliveryFee, iterStat  : ${deliveryFees}">
                            <td th:text="${T(java.lang.String).format('%,d',deliveryFee.deliveryFeeAmount)}"></td>
                            <td th:text="${T(java.lang.String).format('%,d',deliveryFee.deliveryFeeFreeAmount)}"></td>
                            <td>
                                <span th:text="${#temporals.format(deliveryFee.deliveryFeeDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                <span th:if="${iterStat.index == 0}"
                                      style="color: gray; font-weight: bold;">(적용중)</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <nav>
                                <ul class="pagination" th:if="${deliveryFees.totalPages > 0}">
                                    <!-- 처음 버튼 -->
                                    <li class="page-item" th:classappend="${!deliveryFees.hasPrevious()} ? 'disabled'">
                                        <a class="page-link"
                                           th:href="@{'/admin/settings/deliveryFees'(page=0, size=5)}">처음</a>
                                    </li>

                                    <!-- 전체 페이지 번호 출력 -->
                                    <li class="page-item"
                                        th:each="i : ${#numbers.sequence(0, deliveryFees.totalPages - 1)}"
                                        th:classappend="${i == deliveryFees.number} ? 'active'">
                                        <a class="page-link"
                                           th:href="@{'/admin/settings/deliveryFees'(page=${i}, size=5)}"
                                           th:text="${i + 1}">1</a>
                                    </li>

                                    <!-- 마지막 버튼 -->
                                    <li class="page-item" th:classappend="${!deliveryFees.hasNext()} ? 'disabled'">
                                        <a class="page-link"
                                           th:href="@{'/admin/settings/deliveryFees'(page=${deliveryFees.totalPages - 1}, size=5)}">마지막</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <script>

        </script>
    </section>
</div>
</body>
</html>