<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="category-fragment(category)">
    <li th:each="child : ${category.children}" class="mb-2">
        <div class="d-flex justify-content-between align-items-start">
            <!-- 들여쓰기 + 텍스트 -->
            <div class="category-left">
                <div class="d-flex align-items-center">
                    <span class="toggle me-2" onclick="toggleClick(this)">📁</span>
                    <span th:text="${child.categoryName}"></span>
                </div>
            </div>

            <!-- 오른쪽 버튼 -->
            <div class="ms-2">
                <button type="button"
                        class="btn btn-sm btn-outline-success"
                        th:attr="data-id=${child.categoryId}, data-name=${child.categoryName}"
                        onclick="selectCategory(this)">선택</button>
            </div>
        </div>

        <!-- 자식 카테고리 -->
        <ul th:if="${#lists.size(child.children) > 0}" class="ms-4 mt-2">
            <th:block th:replace="admin/coupon/coupon-register-category-fragment :: categoryFragment(category=${child})" />
        </ul>
    </li>
</th:block>
</html>
